.quote-box{
    background-color: white;
    text-align: center;
    width: 520px;
    border-radius: 3px;
    padding: 45px 50px;
    box-shadow: -5px -1px 48px -14px rgba(0 , 0, 0, 0.5);
}

.quote-text{
    font-size:3rem;
    text-align: center;
    margin-right: 1rem;
}

.quote-author{
    font-weight: 300;
    margin-top:1rem;
    font-size: 1rem;
    text-align: end;
}